.card {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    background-color: white;
}

.card-pic {
    color: $clr-black;
    text-decoration: none;

    &__img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    &__text-container {
        padding: 10px 20px;
        position: relative;
    }

    &__location {
        margin-top: 5px;
    }

    &__btn {
        position: absolute;
        right: 30px;
        top: 20%;
    }
}

.card-food {
    display: flex;
    position: relative;

    &__text-container {
        padding: 15px 20px 10px 10px;
        width: 100%;
    }

    &__details {
        margin-top: 5px;
        display: flex;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
    }

    &__description {
        @extend .card-food__title;
        display: block;
    }

    &__price {
        display: block;
        margin-left: auto;
        transition: transform .2s ease-in;
    }

    &__btn {
        position: absolute;
        width: 80px;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform .2s ease-in;
    }

    &:hover .card-food__btn {
        transform: translateX(0);
    }

    &:hover .card-food__price {
        transform: translateX(-80px);
    }

    &:hover .card-food__description {
       width: 60%;
    }

   
}
