.card {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: $box-shadow-sm;
    background-color: white;
}

.card-pic {
    color: $clr-black;
    text-decoration: none;

    &__img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }

    &__text-container {
        padding: 10px 20px;
        position: relative;
    }

    &__location {
        margin-top: 5px;
    }

    &__btn {
        position: absolute;
        right: 30px;
        top: 20%;
    }
}

.card-food {
    position: relative;
    max-width: 500px;

    &__text-container {
        padding: 15px 10px 10px 10px;
        width: 100%;
    }

    &__title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__details {
        margin-top: 5px;
        display: flex;
        width: 100%;
    }

    &__description {
        display: block;
        width: 80%;
        @extend .card-food__title;
    }

    &__price {
        display: block;
        width: 20%;
        margin-right: 20px;
        margin-left: auto;
        text-align: end;
        transition: transform .3s ease-in;
    }

    &__btn {
        position: absolute;
        width: 60px;
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }

    &:hover .card-food__btn {
        transform: translateX(0);
    }

    &:hover .card-food__price {
        transform: translateX(-60px);
    }

    &:hover .card-food__description {
       width: 60%;
    }
    &:hover .card-food__title {
       width: 60%;
    }

    &:hover .btn-validation__icon {
        transform: rotate( 2 * 360deg);
        transition: transform .3s ease-out .1s;
    }
}
