.footer {
    background-color: $clr-dark-grey;
   
    &__container {
        padding: 20px 15px 30px;
        color: $clr-light;
    }

    &__text-container {
        margin-top: 15px;
    }

    &__link {
        margin-top: 8px;
    }
}