.footer {
    background-color: $clr-dark-grey;
    padding: 20px 20px 30px;
    color: $clr-light;

    &__text-container {
        margin-top: 15px;
    }

    &__link {
        margin-top: 8px;
    }
}