// Font family
$ft-shrik: 'Shrikhand', cursive;
$ft-roboto: 'Roboto', sans-serif;

// Color
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;

$clr-black: #000;

$clr-light: #f7f7f7;
$clr-white: #fff;

$clr-light-grey: #eee;
$clr-grey: #616161;
$clr-dark-grey: #3c3c3c;

// Box Shadow
$box-shadow-sm: 0px 4px 6px 4px rgba(0, 0, 0, 0.08);
$box-shadow-sm--hover: 0px 4px 10px 4px rgba(0, 0, 0, 0.18);
$box-shadow-md: 0px 1px 4px 2px rgba(0, 0, 0, 0.155);
$box-shadow-md--hover: 0px 1px 8px 4px rgba(0, 0, 0, 0.2);