// Font family
$ft-shrik: 'Shrikhand', cursive;
$ft-roboto: 'Roboto', sans-serif;

// Color
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;

$clr-black: #000;

$clr-light: #f7f7f7;
$clr-white: #fff;

$clr-light-grey: #eee;
$clr-grey: #616161;
$clr-dark-grey: #3c3c3c;