.menu {
    display: flex;
    flex-direction: column;
    background-color: $clr-light;
    padding: 30px 15px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    &__header {
        position: relative;
    }

    &__btn-like {
        position: absolute;
        top: 0;
        right: 30px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__item:not(:last-child){
        margin-bottom: 40px;
    }

    &__card-container {
        margin-top: 20px;
    }

    &__card:not(:first-child) {
        margin-top: 10px;
    }

    &__card {
        opacity: 0;
        animation: .5s fade-in linear forwards;
    }

    &__btn-start {
        align-self: center;
    }
}

@for $i from 1 through 4{
    .menu__card:nth-child(#{$i}) {
        animation-delay: 0.2s * $i;
    }
}