.menu {
    background-color: $clr-light;
    padding: 30px 15px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    &__header {
        position: relative;
    }

    &__btn {
        position: absolute;
        top: 0;
        right: 30px;
    }

    &__item {
        margin-top: 20px;
    }

    &__card-container {
        margin-top: 20px;
    }

    
}