.location {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 15px;
    background-color: $clr-light-grey;

    &__icon {
        margin-right: 15px;
        color: $clr-dark-grey;
    }
}
